.remove-button-placement {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-left: auto;
    margin-right: 3.5%;
    background-color: transparent;
    border: none;
    padding: 0;
}

.button-text {
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
}

.MdOutlineDelete:hover {
    fill: red;
}
