.select-dropdown {
  min-width: 350px;
}

.custom-select {
  position: relative;
  display: inline-block;
  min-width: 200px;
  margin-top: 10px;
}

.custom-select select {
  font-family: "Nunito", sans-serif;
  appearance: none;
  font-size: 14px;
  width: 50%;
  padding: 0.675em 3em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
  margin-left: 35px;
}