body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.app {
  min-height: 100vh;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #000000;
  text-align: center;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: #000000;
  text-align: center;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #B0CDD9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ab8c4;
}
