body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1px;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

code {
  font-family: "Nunito Sans", sans-serif;
}
